
/.idea
test.ipynb
test.ipynb
test.ipynb
currentVideo.avi
currentframe.jpg
ideas & suggestions
image.jpg
ideas & suggestions
test.ipynb
.ipynb_checkpoints/Lipreading-checkpoint.ipynb
Eye Gaze/EyeGaze.ipynb
ways this is better
test.ipynb
*.h5
ideas & suggestions
test.ipynb
